services:
  backend:
    image: ${DOCKER_USERNAME}/iscoolgptbackend:${IMAGE_TAG:-latest}
    ports:
      - "8000:8000"
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}  # Mudamos aqui
    logging:
      driver: awslogs
      options:
        awslogs-region: us-east-2
        awslogs-group: /iscoolgpt/app
        awslogs-create-group: "true"