services:
  backend:
    image: ${DOCKER_USERNAME}/iscoolgptbackend:${IMAGE_TAG:-latest}
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    
    # --- Configuração do CloudWatch (Simplificada) ---
    logging:
      driver: awslogs
      options:
        awslogs-region: us-east-2       
        awslogs-group: /iscoolgpt/app   
        awslogs-create-group: "true"